nav {
    padding: 5px;
    align-items: center;
    /* font-family: ; */
    background-color: cyan;
    
}
nav h1 {
    font-size: 45px;
    text-align: right;
    font-weight: 100;
}
.search {
    border: 1px solid black;
}
.results {
    border: 1px solid blue;
    background-color: lightgray;
    justify-content: center;
    padding: 10px;
    
}
.resultsDiv {
    border: 1px solid black;
    width: 100%;
    height: 1-00%;
    background-color: white;
    padding: 0 10px;
}

.resultsDiv h4 {
    font-size: 20px;
}

#forecast {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

#forecast div {
    border: 1px solid black;
    width: 100%;
    background-color: darkblue;
    color: white;
}

.search button {
    margin: 10px 0;
}

#background-video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    /* left: 0; */
    /* right: 0; */
    /* top: 0; */
    /* bottom: 0; */
    z-index: -1;
}


.forecastHeader {
    text-align: center;
}

.searchHeader {
    color: white;
}

footer {
    color: white;
    text-align: center;
    padding: 10px;
}


@media screen and (max-width: 768px) {
    .resultsDiv {
        text-align: center;
    }
    #forecast {
        flex-flow: column nowrap;
    }
    
}